.pure-g > div {
  box-sizing: border-box;
}

.card-text {
  padding: 1em;

  .container {
    background: $accent-color;
    height: 100%;
  }
}


@media (min-width: 64em) {
  .main-grid {
    height: 100%;
    position: fixed;

    .card-text {
      height: 25%;
    }
  }
}
