@font-face {
  font-family: 'DroidSans';
  src: url('fonts/Droid_Sans/droidsans-webfont.eot');
  src: url('fonts/Droid_Sans/droidsans-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Droid_Sans/droidsans-webfont.woff') format('woff'),
    url('fonts/Droid_Sans/droidsans-webfont.ttf') format('truetype'),
    url('fonts/Droid_Sans/droidsans-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DroidSans';
  src: url('fonts/Droid_Sans/droidsans-bold-webfont.eot');
  src: url('fonts/Droid_Sans/droidsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Droid_Sans/droidsans-bold-webfont.woff2') format('woff2'),
    url('fonts/Droid_Sans/droidsans-bold-webfont.woff') format('woff'),
    url('fonts/Droid_Sans/droidsans-bold-webfont.ttf') format('truetype'),
    url('fonts/Droid_Sans/droidsans-bold-webfont.svg#droid_sansbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
    font-family: 'Lobster';
    src: url('fonts/Lobster/lobster-regular-webfont.eot');
    src: url('fonts/Lobster/lobster-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lobster/lobster-regular-webfont.woff2') format('woff2'),
         url('fonts/Lobster/lobster-regular-webfont.woff') format('woff'),
         url('fonts/Lobster/lobster-regular-webfont.ttf') format('truetype'),
         url('fonts/Lobster/lobster-regular-webfont.svg#lobsterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
