@font-face {
  font-family: 'DroidSans';
  src: url('fonts/Droid_Sans/droidsans-webfont.eot');
  src: url('fonts/Droid_Sans/droidsans-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Droid_Sans/droidsans-webfont.woff') format('woff'),
    url('fonts/Droid_Sans/droidsans-webfont.ttf') format('truetype'),
    url('fonts/Droid_Sans/droidsans-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DroidSans';
  src: url('fonts/Droid_Sans/droidsans-bold-webfont.eot');
  src: url('fonts/Droid_Sans/droidsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Droid_Sans/droidsans-bold-webfont.woff2') format('woff2'),
    url('fonts/Droid_Sans/droidsans-bold-webfont.woff') format('woff'),
    url('fonts/Droid_Sans/droidsans-bold-webfont.ttf') format('truetype'),
    url('fonts/Droid_Sans/droidsans-bold-webfont.svg#droid_sansbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
    font-family: 'Lobster';
    src: url('fonts/Lobster/lobster-regular-webfont.eot');
    src: url('fonts/Lobster/lobster-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lobster/lobster-regular-webfont.woff2') format('woff2'),
         url('fonts/Lobster/lobster-regular-webfont.woff') format('woff'),
         url('fonts/Lobster/lobster-regular-webfont.ttf') format('truetype'),
         url('fonts/Lobster/lobster-regular-webfont.svg#lobsterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Material Icons';
    src: url('fonts/material-design-icons/MaterialIcons-Regular.eot');
    src: url('fonts/material-design-icons/MaterialIcons-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/material-design-icons/MaterialIcons-Regular.woff2') format('woff2'),
         url('fonts/material-design-icons/MaterialIcons-Regular.woff') format('woff'),
         url('fonts/material-design-icons/MaterialIcons-Regular.ttf') format('truetype'),
         url('fonts/material-design-icons/MaterialIcons-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}