// scss-lint:disable SelectorDepth, PropertySortOrder


.app-content {
  overflow: scroll;
  position: relative;
  width: 100%;
  margin-top: 45px;
}

// .main-grid > div {
// box-sizing: border-box;
// }

.card-text {
  padding: 1em;

  .container {
    background: $primary-color-text;
    border: 3px $accent-color solid;
    box-shadow: 3px 3px;
    font-family: $secondary-font;
    height: 100%;
  }
}


@media (min-width: $screen-large) {
  .main-grid {
    height: 100%;
    margin-top: 0;
    flex-grow: 1;

    .card-text {
      height: 25%;
    }
  }
}
