@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?qlmgxn');
  src: url('fonts/icomoon.eot?qlmgxn#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?qlmgxn') format('truetype'),
		url('fonts/icomoon.woff?qlmgxn') format('woff'),
		url('fonts/icomoon.svg?qlmgxn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ic {
  font-family: 'icomoon';
  // Better Font Rendering ===========
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

//larger icons
.ic-lg {
  font-size: 1.3333333333333333em;
  line-height: .75em;
  vertical-align: -15%;

}
//largerest icons
.ic-xl {
  font-size: 1.666666666666666em;
  line-height: .5em;
  vertical-align: -30%;
}

.icon-play:before {
  content: '\e01d';
}

.icon-keyboard:before {
  content: '\e10e';
}

.icon-pen:before {
  content: '\e800';
}
