// scss-lint:disable SelectorDepth, PropertySortOrder, NestingDepth

// default
.layout {
  .app-menu {
    background: $primary-color;
    color: $primary-color-text;
    display: flex;
    flex-direction: row;
    height: 45px;
    position: fixed;
    flex-grow: 1;
    width: 100%;
    z-index: 101;
    box-shadow: 0 6px 6px rgba(0, 0, 0, .4);

    .app-logo {
      font-size: 2em;
      line-height: 1.3em;
      vertical-align: -18%;
      margin: auto;
      margin-left: 3px;
      margin-right: 3px;
    }


    .app-name-ctn {
      display: flex;
      flex: 1 1 auto;
      flex-wrap: nowrap;
      padding-bottom: .2em;


      .app-name {
        font-family: $primary-font;
        font-size: 2em;
        padding-left: .2em;
      }
    }

    .app-menu-ctn {
      color: $primary-color-text;
      display: flex;
      height: 100%;
      padding: .1em .4em;
      text-decoration: none;
      white-space: nowrap;

      .menu-icon {
        margin: auto;
        margin-left: .2em;
        margin-right: .2em;
        order: 1;
      }

      .menu-code {
        font-family: $secondary-font;
        font-size: 1em;
        margin: auto;
        order: 0;
        display: none;
      }
    }

    .app-menu-ctn:hover {
      background: $primary-color-light;
      color: $secondary-text-color;
    }

    .app-menu-ctn:focus {
      background: $primary-color-light;
      color: $secondary-text-color;
    }
  }
}



// small screen
@media (min-width: $screen-small) {
  .layout .app-menu {
    .app-name-ctn .app-logo {
      font-size: 1.666666666666666em;
    }

    .app-menu-ctn {
      padding: .1em 1em;

      .menu-code {
        display: inherit;
      }
    }
  }
}

// large screen
@media (min-width: $screen-large) {
  .layout .app-menu {
    flex-direction: column;
    height: inherit;
    padding-bottom: 1em;
    position: relative;
    flex-grow: 0;
    width: 200px;


    .app-name-ctn {
      flex: 0 0 auto;
      margin-bottom: .4em;
    }

    .app-menu-ctn {
      height: auto;
      margin: 0;
      padding: .2em;
      padding-bottom: .8em;
      padding-top: .8em;
      width: 100%;

      .menu-icon {
        order: 0;
        padding-left: 12px;
        padding-right: 16px;
      }

      .menu-code {
        align-self: flex-start;
        flex-grow: 1;
        order: 1;
      }
    }
  }
}
