// scss-lint:disable SelectorDepth, PropertySortOrder
//Inspired by http://thecodeplayer.com/walkthrough/ripple-click-effect-google-material-design
//.ink styles - the elements which will create the ripple effect. The size and position of these elements will be set by the JS code.
//Initially these elements will be scaled down to 0% and later animated to large fading circles on user click.*/
.ripple {
  overflow: hidden;
  position: relative;
}

.ink {
  display: block;
  position: absolute;
  background: transparentize($primary-color-light, .2);
  border-radius: 100%;
  transform: scale(0);

  //animation effect
  &.animate {
    animation: ripple 400ms linear;
  }
}



@keyframes ripple {
  //scale the element to 250% to safely cover the entire link and fade it out
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
