<a target="#" title="{{title}}" class="text-button{{#if class}} {{class}}{{/if}} ">
    <span class="code">{{code}}</span>
    {{#if_eq withLine true}}
        <hr class="withLine"/>
    {{/if_eq}}
</a>
