<div class="card-text pure-u-1 pure-u-md-1-2 pure-u-sm-1-2 pure-u-lg-1-4 l-box" cardNumber="{{cardNumber}}">
  <a class="container ripple" href="#">
    <div class="card-title">{{title}}</div>
  </a>
</div>
