// scss-lint:disable SelectorDepth, PropertySortOrder, NestingDepth


.app-content {
  position: relative;
  width: 100%;
  margin-top: 45px;
  overflow-x: hidden;
  overflow-y: scroll;

  &.freeze-scroll {
    overflow-y: hidden;
  }

  .card-text {
    padding: .7em;
    height: 100px;

    .container {
      @include paper-shadow(20px);
      background: $primary-color-text;
      height: 100%;
      display: flex;
      flex-direction: column;
      text-decoration: none;
      position: relative;

      .card-title {
        padding-left: 16px;
        margin: auto;
        font-family: $secondary-font;
        font-size: 1.1em;
        font-weight: bold;
        color: $primary-text-color;
      }
    }
  }
}


@media (min-width: $screen-large) {
  .main-grid {
    height: 100%;
    margin-top: 0;
    flex-grow: 1;

    .card-text {
      height: 25%;
    }
  }
}
