@import "variables";

.app-menu-drawing {
  padding: 12px;
}


@media (min-width: $screen-large) {
  .app-menu-drawing .whiteboard-toolbar {
    left: initial;
    right: 0;

    .menu-brush, .menu-color, .menu-size {
      right: 30px;
      left: initial;
    }
  }
}

