// scss-lint:disable SelectorDepth, PropertySortOrder, NestingDepth

.app-menu-expanded.app-menu-sound {
	$shadow-color-1: rgba(0, 0, 0, .1);

	.list {
		margin: 0 auto;
		min-height: 72px;
		width: 90%;
		background: $secondary-color-content;
		border-radius: 4px;
		box-shadow: 0 1px 10px 0 $shadow-color-1, 0 2px 4px -1px $shadow-color-1;
		overflow-x: hidden;
		overflow-y: scroll;
		margin-bottom: 16px;
		flex-grow: 2;

		&.hidden {
			display: none;
		}
	}

	.title {
		font-family: $primary-font;
		font-size: 1.4em;
		color: darken($accent-color, 10);
		margin: 0 auto;
		padding-left: 22px;
		width: 90%;
		flex-basis: 30px;

		&.hidden {
			display: none;
		}
	}

	.rule.hidden {
		display: none;
	}
}
@media (min-width: $screen-small) {
	.app-menu-expanded.app-menu-sound {
		.search-bar {
			width: 66%;
		}
	}
}
