@import "variables";

.app-menu-drawing {
  padding: 12px;

  .whiteboard {
    border: 1px solid $primary-color-dark;
    border-radius: 13px;
    background: $secondary-color-content;
    height: 100%;
    width: 100%;
  }
  .whiteboard-toolbar {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    &.visible {
      display: inherit;
    }

    .menu-brush, .menu-color, .menu-size {
      right: inherit;
      left: 30px;
      display: flex;
    }
    .menu-brush {
      bottom: 170px;

      .icon {
        color: $accent-color;
      }
    }
    .menu-color {
      bottom: 100px;
    }
    .size-label {
      margin: auto;
    }
  }
}

.whiteboard-menu-brush {
  margin: auto;
  margin-left: inherit;
  margin-right: inherit;
}

.whiteboard-menu-color {
  margin: auto;
  margin-left: inherit;
  margin-right: inherit;

  .color-pick-cell {
    padding: 10px;
  }

  .color-pick {
    height: 70px;
    width: 70px;
    border: 2px solid $accent-color;
    margin: auto;

    @include paper-shadow(50%);
  }
}

.whiteboard-menu-size {
  .brush-size-preview {
    display: inline-block;
    background: $primary-color;
    @include paper-shadow(50%);
    margin-left: 12px;
  }
}

@media (min-width: $screen-medium) {
  .whiteboard-menu-color {
    .color-pick-cell {
      padding: 20px;
    }
    .color-pick{
      height: 80px;
      width: 80px;
    }
  }
}

