<div id="card-config-whiteboard" class="card-fullscreen card-config-drawing">
    <canvas class="whiteboard">
        Sorry, your browser doesn't support canvas technology.
    </canvas>
    <div class="whiteboard-toolbar">
        <div class="floating-button menu-brush" title="{{titleBrush}}">
            <i class="icon ic ic-lg"></i>
        </div>
        <div class="floating-button menu-color" title="{{titleColor}}">
            <i class="icon ic ic-lg icon-palette"></i>
        </div>
        <div class="floating-button menu-size" title="{{titleSize}}">
            <span class="size-label"></span>
        </div>
        <div class="container-floating">
            {{>widget_floating_button class="card-fs-butt-ok" title="OK" icon="check"}}
        </div>
    </div>
</div>