<div class="app-menu-expanded app-menu-text">
  <div class="menu-bar text-bar">
	<i class="icon ic ic-lg icon-edit"></i>
    <input class="menu-bar-input text-input" contenteditable="true" type="text" autocomplete="on" placeholder="Afficher un texte..."></input>
  </div>
  <hr class="rule"/>
</div>
