<div id="menu-draw-canvas" class="app-menu-expanded app-menu-drawing">
	<canvas class="whiteboard">
	        Sorry, your browser doesn't support canvas technology.
	</canvas>
	<div class="whiteboard-toolbar">
        <div class="floating-button menu-brush" title="{{titleBrush}}">
            <i class="icon ic ic-lg"></i>
        </div>
        <div class="floating-button menu-color" title="{{titleColor}}">
            <i class="icon ic ic-lg icon-palette"></i>
        </div>
	</div>
</div>
