<div class="app-menu-expanded app-menu-drawing">
	<canvas id="menu-draw-canvas" class="draw-canvas">
	        Sorry, your browser doesn't support canvas technology.
	</canvas>
	<div class="lenu-draw-footer">
		<div class="floating-button menu-color" title="{{title}}">
		    <i class="icon ic ic-lg icon-palette"></i>
		</div>
		
	</div>
</div>
