<div class="card-fullscreen card-sound">
	<div class="container">
		<div class="text-container">
			<div class="sound-text">
				{{{label}}}
			</div>
		</div>
		<div class="player-button material-context">
			<div class="row-progress">
				<i class="icon player-status ic ic-xl icon-pause"></i>
				<div class="progress">
					<div class="determinate" style="width: 0px"></div>
				</div>
			</div>
			<div class="row-infos">
				<span class="infos">
					{{{sound.author}}} - {{{sound.name}}}
				</span>
			</div>
		</div>
	</div>
    <div class="container-floating">
        {{>widget_floating_button class="card-fs-butt-ok" title="OK" icon="check"}}
    </div>
</div>
