<div class="card-fullscreen card-sound">
	<div class="container">
		<div class="text-container">
			{{{label}}}
		</div>
		<div class="player-button">
			<i class="icon ic ic-lg icon-pause"></i>
			<progress class="player-progressbar"></progress>
		</div>
	</div>
    <div class="container-floating">
        {{>widget_floating_button class="card-fs-butt-ok" title="OK" icon="check"}}
    </div>
</div>
