<div class="card-fullscreen card-text">
    <div class="container">
        {{{label}}}
    </div>
    <div class="container-floating">
        {{>widget_floating_button class="card-fs-butt-ok" title="OK" icon="check"}}
    </div>
</div>