<div class="app-menu-expanded app-menu-sound">
  <div class="search-bar">
	<i class="icon ic ic-lg icon-search"></i>
    <input class="search-input" contenteditable="true" type="search" autocomplete="on" placeholder="Chercher un son..."></input>
  </div>
  <div class="title recents-title">Récents</div> 
  <hr/>
  <div class="list recents-list">

  </div>
  <div class="title results-title">Résultats</div>
  <hr/>
  <div class="list results-list"> 

  </div>
</div>
