!css/bower_components/
css/bower_components/*

!css/bower_components/handlebars/
css/bower_components/handlebars/*
!css/bower_components/handlebars/handlebars.runtime.min.js

!css/bower_components/jquery/
css/bower_components/jquery/*
!css/bower_components/jquery/dist/
css/bower_components/jquery/dist/*
!css/bower_components/jquery/dist/jquery.min.js

!css/bower_components/jquery-mobile/
css/bower_components/jquery-mobile/*
!css/bower_components/jquery-mobile/jquery.mobile.custom.min.js

!css/bower_components/jquery.boxfit/
css/bower_components/jquery.boxfit/*
!css/bower_components/jquery.boxfit/dist/
css/bower_components/jquery.boxfit/dist/*
!css/bower_components/jquery.boxfit/dist/jquery.boxfit.min.js


!css/bower_components/pure/
css/bower_components/pure/*
!css/bower_components/pure/pure-min.css